@{
    ViewData["Title"] = "Home Page";
}

<header id="indexHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-1 text-center text-dark mt-4"><span class="bg-white">Find your home</span></h1>
                <h3 class="text-center text-dark mt-4"><span class="bg-white">Stop living under the stars</span></h3>
                <hr />
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div id="residencesCardsPartial" class="row">
        <!-- Residences Cards come here-->
    </div>
</div>
