@model Locatarium.Models.ResidenceModel

@{
    ViewData["Title"] = "Locatarium - My Residences";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 my-4">
            <h3 class="card-title text-center"><span class="bg-white"><i class="far fa-edit"><span>&nbsp;</span></i>Edit Residence</span></h3>
            <form asp-controller="Residences" asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6 float-left">
                        <div class="form-group">
                            <strong><label class="control-label bg-white">Name</label></strong>
                            <input asp-for="Name" class="form-control shadow" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group py-2">
                            <strong><label class="control-label bg-white">Price</label></strong>
                            <input asp-for="Price" class="form-control shadow" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group py-2">
                            <strong><label class="control-label bg-white">Number of rooms</label></strong>
                            <select asp-for="ResidenceCategoryId[0]" class="form-control shadow" asp-items="@(new SelectList(Model.ResidenceCategories.Where(rc => rc.Id <= 5), "Id", "Name", Model.ResidenceCategoryId[0]))"><</select>
                        </div>
                        <div class="form-group py-2">
                            <strong><label class="control-label bg-white">Style of residence</label></strong>
                            <select asp-for="ResidenceCategoryId[1]" class="form-control shadow" asp-items="@(new SelectList(Model.ResidenceCategories.Where(rc => rc.Id > 5), "Id", "Name", Model.ResidenceCategoryId[1]))"></select>
                        </div>
                    </div>
                    <div class="col-md-6 float-right">
                        <div class="form-group">
                            <strong><label class="control-label bg-white">Street</label></strong>
                            <input asp-for="Address.Street" class="form-control shadow" />
                            <span asp-validation-for="Address.Street" class="text-danger"></span>
                        </div>
                        <div class="form-group py-2">
                            <strong><label class="control-label bg-white">City</label></strong>
                            <input asp-for="Address.City" class="form-control shadow" />
                            <span asp-validation-for="Address.City" class="text-danger"></span>
                        </div>
                        <div class="form-group py-2">
                            <strong><label class="control-label bg-white">State</label></strong>
                            <input asp-for="Address.State" class="form-control shadow" />
                            <span asp-validation-for="Address.State" class="text-danger"></span>
                        </div>
                        <div class="form-group py-2">
                            <strong><label class="control-label bg-white">Postal Code</label></strong>
                            <input asp-for="Address.PostalCode" class="form-control shadow" />
                            <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group py-2">
                            <strong><label class="control-label bg-white">Images</label></strong> <span class="bg-white">(Leave blank if you don't want to modify the images)</span>
                            <input type="file" name="uploadImages" multiple="multiple" asp-for="Images" class="form-control shadow" />
                            <span asp-validation-for="Images" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <strong><label class="control-label bg-white">Curent images</label></strong>
                <div class="row">
                    @foreach (var item in Model.Images)
                    {
                        <div class="col-md-3 py-2">
                            <img src="@item" class="w-100 shadow rounded" alt="Image Residence" />
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-6 float-left">
                        <div class="form-group py-4">
                            <input type="submit" value="Save" class="btn btn-success m-2" />
                            <a asp-action="Items"><div class="btn btn-dark">Back to your residences</div></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>