@model Locatarium.Models.UserModel

@{
    ViewData["Title"] = "Locatarium - Login";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 my-4">
            <h3 class="card-title text-center"><span class="bg-white"><i class="fas fa-user"><span>&nbsp;</span></i>Login</span></h3>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <form asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <strong><label class="control-label bg-white">Email</label></strong>
                            <input asp-for="Email" class="form-control shadow" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group py-2">
                            <strong><label class="control-label bg-white">Password</label></strong>
                            <input asp-for="Password" class="form-control shadow" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="row form-group py-2">
                            <div class="col-md-5"></div>
                            <div class="col-md-2">
                                <input type="submit" value="Login" class="btn btn-info" />
                            </div>
                            <div class="col-md-5"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>